<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Badan Penghubung Provinsi Jambi</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="container-fluid">
<!--        <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>-->
        <h2>Halo !</h2>

<!--        <a th:href="@{/hotel/viewall}" class="btn btn-primary"> View All Hotel </a>-->
<!--        <a th:href="@{/hotel/add}" class="btn btn-outline-primary"> Tambah Hotel </a>-->
        <hr>
<!--        <div class="row">-->
<!--            <div class="col-md-6">-->
<!--                <div class="card">-->
<!--                    <div class="card-header">Cari Hotel Berdasarkan ID Hotel</div>-->
<!--                    <div class="card-body">-->
<!--                        <form th:action="@{/hotel/view}" method="GET">-->
<!--                            <div class="form-row">-->
<!--                                <div class="col-10">-->
<!--                                    <input id="idHotel" type="text" name="idHotel" class="form-control" placeholder="ID Hotel">-->
<!--                                </div>-->
<!--                                <div class="col">-->
<!--                                    <button class="btn btn-primary btn-block"> Cari </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header">Tambah User Baru</div>-->
<!--                        <div class="card-body">-->
<!--                            <form th:action="@{/user/addUser}" method="POST">-->
<!--                                <label>User Name</label>-->
<!--                                <input type="text" name="username" class="form-control"/>-->

<!--                                <label>Password</label>-->
<!--                                <input type="password" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z]).{8,}" title="Must contain at least one number and lowercase letter, and at least 8 or more characters" required/>-->

<!--                                <label>Role</label>-->
<!--                                <select name="role" class="form-control">-->
<!--                                    <option selected value="">&#45;&#45; Pilih Role &#45;&#45;</option>-->
<!--                                    <option th:each="role: ${listRole}" th:value="${role.id}" th:text="${role.role}"></option>-->
<!--                                </select>-->
<!--                                <br>-->
<!--                                <button type="submit" class="btn btn-primary">Simpan</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>