<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>

    <!--jequary, ajax, and bootstrap.jd-->
    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav pull-left">
                <a class="nav-item nav-link active text-secondary" th:href="@{/}">
                    Home <span class="sr-only">(current)</span>
                </a>
            </ul>
            <ul class="navbar-nav pull-left">
                <a class="nav-item nav-link active text-secondary" th:href="@{/}">
                    Home <span class="sr-only">(current)</span>
                </a>
            </ul>
            <ul class="navbar-nav pull-left">
                <a class="nav-item nav-link active text-secondary" th:href="@{/}">
                    Home <span class="sr-only">(current)</span>
                </a>
            </ul>
            <ul class="navbar-nav pull-left">
                <a class="nav-item nav-link active text-secondary" th:href="@{/}">
                    Home <span class="sr-only">(current)</span>
                </a>
            </ul>
            <ul class="navbar-nav pull-right">
                <a class="nav-item nav-link activate" th:href="@{/logout}">Logout</a>
            </ul>
        </div>
    </nav>
<!--    <nav th:fragment="navbar (message)" class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <a th:text="webprofile" class="navbar-expand font-weight-bold text-primary" href="#"></a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"-->
<!--                aria-controls="navbarnavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--            <ul class="navbar-nav mr-sm-auto">-->
<!--                <div class="dropdown">-->
<!--                    <div th:href="@{/}" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Profile-->
<!--                    </div>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                        <a class="dropdown-item" href="#">Sejarah</a>-->
<!--                        <a class="dropdown-item" href="#">Sekilas Jambi</a>-->
<!--                        <a class="dropdown-item" href="#">Lambang Daerah</a>-->
<!--                        <a class="dropdown-item" href="#">Peta Provinsi</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--            <ul class="navbar-nav mr-sm-auto">-->
<!--                <div th:href="@{/}" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Berita-->
<!--                </div>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                    <a class="dropdown-item" href="#">a</a>-->
<!--                    <a class="dropdown-item" href="#">b</a>-->
<!--                </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--            <ul class="navbar-nav mr-sm-auto">-->
<!--                <div th:href="@{/}" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Galeri-->
<!--                </div>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                    <a class="dropdown-item" href="#">Foto Kegiatan</a>-->
<!--                    <a class="dropdown-item" href="#">Video Kegiatan</a>-->
<!--                </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--            <ul class="navbar-nav mr-sm-auto">-->
<!--                <div th:href="@{/}" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Informasi-->
<!--                </div>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                    <a class="dropdown-item" href="#">Agenda Kegiatan</a>-->
<!--                    <a class="dropdown-item" href="#">Pengumuman</a>-->
<!--                    <a class="dropdown-item" href="#">Lambang Daerah</a>-->
<!--                    <a class="dropdown-item" href="#">Peta Provinsi</a>-->
<!--                </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
</body>
</html>